@(game: GravaHal)

@main("Game "){
  <ul>
    <li>Player one: @game.getPlayerOne()</li>
    <li>Player two: @game.getPlayerTwo()</li>
  </ul>
  
  <div id="active-player">
    <span>It is @game.getActivePlayer()'s turn</span>
  </div>
  
  <div class="board">
    @for(side <- game.getSides()) {
      <div class="side" id="side@side.getTitle()">
        @for(p <- side.getPits()){
          <div class="pit">@p.getContents()</div>
        }
        <div class="pit grava-hal">@side.getGravaHalPit().getContents()</div>
      </div>
    }
  </div>
}