@(game: GravaHal)

@main("Game "){
  <ul>
    <li>Player one: @game.getPlayerOne()</li>
    <li>Player two: @game.getPlayerTwo()</li>
  </ul>
  
  <div id="active-player">
    <span>It is @game.getActivePlayer()'s turn</span>
  </div>
  
  <div class="board">
    @for(player <- Seq(game.getPlayerOne(), game.getPlayerTwo())) {
      @defining(game.getPlayerSide(player)) {side =>
      <div class="side" id="side@side.getTitle()">
        @for(p <- side.getPits()){
          <div class="regular pit" id="pit@p.getId()">
          @if(game.canPlay(player, p.getId())) {
            <a href="javascript:playFrom(&quot;@game.getGameId()&quot;, &quot;@player&quot;, &quot;@p.getId()&quot;)">@p.getContents()</a>
          } else {
            @p.getContents()           
          }
          </div>
        }
        <div class="grava-hal pit">@side.getGravaHalPit().getContents()</div>
      </div>
      }
    }
  </div>
}